<% title APPLICATION_CONFIG['name'] + " " + t(:welcome), false %>
<% javascript 'endless_page' %>

<div>
  <% if (p=Page.top_pages).any? %>
    <div class='right_column'>
      	<div id="menu_download">
      		<img src="/images/site/login_disabled.png">
      	</div>
      	<div style="margin-top:12px;" id="menu_followus">
      		<img onclick="window.location.href=''" src="/images/site/menu_followus.png"><br><br>
      		<div style="margin-left:15px;">
      		<img onclick="window.location.href=''" src="/images/site/index_30.gif">
      		<img onclick="window.location.href=''" src="/images/site/index_32.gif">
      		<img onclick="window.location.href=''" src="/images/site/index_34.gif">
      		<img onclick="window.location.href=''" src="/images/site/index_36.gif">
      		</div>
      	</div>
      	<div>
	      <% for page in p %>
		<%= render :partial => '/pages/page_intro', :locals => { :page => page } %>  
		<p class='content_seperator'></p>
	      <% end %>
	</div>
    </div>
  <% end %>
  
  <% unless @blog.nil? %>
    <p style='clear: left;'></p>
    
    <div id='postings' class='left_column'>
      <%= link_to( t(:create_new_posting), new_blog_posting_path(@blog), :class => 'green_button') if can? :create, Posting %>
      <img src="/images/sample.jpg">
      <img src="/images/site/index_46.png">
      <p><%= will_paginate @postings %></p>
    
      <% for posting in @postings %>
        <div style='clear: right;'>
           <%= render :partial =>  posting, :locals => { :blog => @blog } %>
           <p style='clear: left;'></p>
        </div>
      <% end %>
      
      <%= render :partial => '/home/load_more', :locals => { :resources => @postings, :path => root_path } %>

      
      <p><%= will_paginate @postings %></p>
      
      
    </div>
  <% end %>
  <p style='clear: right;'></p>
</div>
<div style='clear: both;'></div>